.communication_panel_west{
	padding:0px!important;
	width:20%!important;
	
}
.communication_panel_center{
	margin-left: -6px!important;
	padding:0px!important;
	border:none!important;
	width:55%!important;
}
.communication_panel_east{
	padding:0px!important;
	border:none!important;
	width:25%!important;
}
.communication_panel_west .ui-layout-unit-content{padding:0;}
.communication_panel_west .ui-accordion-content{padding:8px;}
.communication_panel_west .ui-datatable{border:none;}

.person_panel{border:none;}

.test{
	color:red;
}


.multiselectClass .ui-multiselectlistbox-listcontainer{width: 30%}
